[keyboard]
name = "Dactyl-cc"
product_name = "Dactyl-cc"
vendor_id = 0x4c4b
product_id = 0x4643
manufacturer = "RMK"
chip = "nrf52840"

[layout]
# WARNING: Currently row2col/col2row is set in RMK's feature gate, row2col config here is valid ONLY when you're using cloud compilation.
# Checkout doc here: https://rmk.rs/docs/user_guide/faq.html#my-matrix-is-row2col-the-matrix-doesn-t-work
# row2col = true
rows = 6
cols = 12
layers = 2
matrix_map =  """
(0,0) (0,1) (0,2) (0,3) (0,4) (0,5)                   (0,11) (0,10) (0,9) (0,8) (0,7) (0,6)
(1,0) (1,1) (1,2) (1,3) (1,4) (1,5)                       (1,11) (1,10) (1,9) (1,8) (1,7) (1,6)
(2,0) (2,1) (2,2) (2,3) (2,4) (2,5)                   (2,11) (2,10) (2,9) (2,8) (2,7) (2,6)
(3,0) (3,1) (3,2) (3,3) (3,4) (3,5)                   (3,11) (3,10) (3,9) (3,8) (3,7) (3,6)
        (4,1) (4,2) (4,3) (4,4)                                    (4,10) (4,9) (4,8) (4,7)
                                        (5,2) (5,3)  (5,9) (5,8)
                                                (5,4)  (5,10)
                                (5,0) (5,1) (5,5)  (5,11)  (5,7) (5,6)
"""

[ble]
enabled = true
battery_adc_pin = "P0_04"          # or whatever RMK expects for that ADC pin
adc_divider_measured = 2000        # 2 M立 in k立
adc_divider_total   = 2806         # 2 M立 + 806 k立
[behavior]
tap_hold = { enable_hrm = true }

[split]
connection = "ble"

[split.central]
rows = 6
cols = 6
row_offset = 0
col_offset = 0

[split.central.matrix]
row2col = true
row_pins = ["P1_06", "P1_04", "P0_11", "P1_00", "P0_24", "P0_22"]
col_pins = ["P0_09", "P0_10", "P1_11", "P1_13", "P1_15", "P0_02"]

[[split.peripheral]]
rows = 6
cols = 6
row_offset = 0  
col_offset = 6


[split.peripheral.matrix]
row2col = false
row_pins = ["P1_06", "P1_04", "P0_11", "P1_00", "P0_24", "P0_22"]
col_pins = ["P0_09", "P0_10", "P1_11", "P1_13", "P1_15", "P0_02"]

[host]
# Enable or disable Vial support (default: true)
vial_enabled = true

# Unlock keys for Vial security (optional)
# Keys must be pressed simultaneously to unlock Vial configuration
unlock_keys = [[0, 0], [0, 1]]  # Keys at (row=0,col=0) and (row=0,col=1)

# [[split.peripheral]]
# rows = 2
# cols = 1
# row_offset = 2
# col_offset = 2
# serial = [{ instance = "UART0", tx_pin = "PIN_0", rx_pin = "PIN_1" }]
# input_pins = ["PIN_9", "PIN_11"]
# output_pins = ["PIN_10"]
